*{
    background-color: black;
    color:white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    
}

#flex-container{
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px;
}

#counter{
    margin-bottom: 1rem;
}

#game-container{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    margin-top: 3rem;
    font-size: 100px;
    cursor: pointer;
}

.square{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up-left{
    border-right: 5px whitesmoke solid;
    border-bottom: 5px whitesmoke solid;
}

#up-middle{
    border-right: 5px whitesmoke solid;
    border-bottom: 5px whitesmoke solid;
}

#up-right{
    border-bottom: 5px whitesmoke solid;
}

#middle-left{
    border-right: 5px whitesmoke solid;
    border-bottom: 5px whitesmoke solid;
   
}

#middle-middle{
    border-right: 5px whitesmoke solid;
    border-bottom: 5px whitesmoke solid;
}

#middle-right{
    border-bottom: 5px whitesmoke solid;
}

#down-left{
    border-right: 5px whitesmoke solid;
}

#down-middle{
    border-right: 5px whitesmoke solid;
}

